  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
        </tr>
      </thead>
      <tbody>
      <% @urls.each do |url| %>
          <tr>
            <td><a href="/urls/<%= url.short_url %>"><%= url.short_url %></a></td>
            <td><%= url.long_url %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </main>
  