  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col" colspan="2">Long URL</th>
        </tr>
      </thead>
      <tbody>
      <% @urls.each do |url| %>
          <tr>
            <td><%= link_to url.short_url, url %></td>
            <td><%= url.long_url %></td>
            <td><%= link_to "Delete", url_path(url),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, 
                  :class => 'btn btn-danger' %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </main>
  