<main style="margin: 1em;">
      <h3>Create TinyURL</h3>
      <%= form_with :class => 'form-inline', model: @url do |form| %>

        <div class="form-group mb-2">
          <%= form.label :long_url, "Enter a URL:" %>
          <%= form.text_field :long_url, :class => 'form-control', placeholder: "https://", style: "width: 300px; margin: 1em"%>

          <%= form.submit "Submit", :class => 'btn btn-primary' %>
        </div>

        <% end %>
    </main>